.smk_accordion {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 20px;
}
/**
 * --------------------------------------------------------------
 * Section
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in {
	position: relative;
	z-index: 10;
	margin-top: 0px;
	overflow: hidden;
	border-bottom: solid 1px #e4e4e4;
}
/**
 * --------------------------------------------------------------
 * Head
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in .acc_head {
	position: relative;
	padding: 15px 0;
	color: #222222;
	font-size: 16px;
	display: block;
	cursor: pointer;
}
.smk_accordion .acc_active .acc_head {
	color: #fff;
}
.smk_accordion .accordion_in .acc_head .acc_icon_expand {
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top: -9px;
	background: url(plusminus.png) center 0;
}
.smk_accordion .accordion_in.two .acc_head .acc_icon_expand {
	background: url(plusminus2.png) center 0;
}
/**
 * --------------------------------------------------------------
 * Content
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in .acc_content {
	background: #fff;
	color: #7B7E85;
	padding: 10px 6px 20px 10px;
}
.smk_accordion .accordion_in .acc_content h1:first-of-type, .smk_accordion .accordion_in .acc_content h2:first-of-type, .smk_accordion .accordion_in .acc_content h3:first-of-type, .smk_accordion .accordion_in .acc_content h4:first-of-type, .smk_accordion .accordion_in .acc_content h5:first-of-type, .smk_accordion .accordion_in .acc_content h6:first-of-type {
	margin-top: 5px;
}
/**
 * --------------------------------------------------------------
 * General
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in:first-of-type, .smk_accordion .accordion_in:first-of-type .acc_head {
	border-radius: 0px 0px 0 0;
}
.smk_accordion .accordion_in:last-of-type, .smk_accordion .accordion_in:last-of-type .acc_content {
	border-radius: 0 0 0px 0px;
}
.smk_accordion .accordion_in.acc_active > .acc_content {
	display: block;
}
.smk_accordion .accordion_in.acc_active > .acc_head {
	background: #25d5b2;
}
.smk_accordion .accordion_in.acc_active > .acc_head .acc_icon_expand {
	background: url(plusminus.png) center -18px;
}
.smk_accordion .accordion_in.two.acc_active > .acc_head .acc_icon_expand {
	background: url(plusminus2.png) center -18px;
}
.smk_accordion.acc_with_icon .accordion_in .acc_head, .smk_accordion.acc_with_icon .accordion_in .acc_content {
	padding-left: 50px;
}
/*style three*/

.acc_content img {
	width: 100%;
	margin-top: 5px;
}
.smk_accordion .accordion_in.three .acc_head {
	position: relative;
	background: #222222;
	color: #fff;
	font-size: 14px;
	display: block;
	cursor: pointer;
	border-radius: 30px;
}
.smk_accordion .accordion_in.three {
	border-bottom: 0;
	margin-bottom: 1px;
}
.smk_accordion .accordion_in.three.acc_active > .acc_head {
	background: #25d5b2;
	border-radius: 30px;
}
.smk_accordion .accordion_in.three .acc_head .acc_icon_expand {
	background: url(plusminus3.png) center 0;
}
.smk_accordion .accordion_in.three.acc_active > .acc_head .acc_icon_expand {
	background: url(plusminus3.png) center -18px;
}
/*style four*/
.smk_accordion .accordion_in.four {
	border: none;
}
.smk_accordion .accordion_in.four .acc_head {
	position: relative;
	background: #fff;
	color: #222222;
	font-size: 14px;
	display: block;
	cursor: pointer;
	margin-bottom: 2px;
	border-radius: 0px;
	border: solid 1px #e4e4e4;
	border-bottom: 0;
}
.smk_accordion .accordion_in.four .acc_head.lstone {
	border-bottom: solid 1px #e4e4e4;
}
.smk_accordion .accordion_in.four .acc_content {
	border: solid 1px #e4e4e4;
	border-top: 0;
	overflow: hidden;
}
.smk_accordion .accordion_in.four.acc_active > .acc_head {
	color: #222222;
	background-color: transparent;
}
.smk_accordion .accordion_in.four .acc_head .acc_icon_expand {
	left: 15px;
	background: url(plusminus.png) center 0;
}
.smk_accordion .accordion_in.four.acc_active > .acc_head .acc_icon_expand {
	background: url(plusminus.png) center -18px;
}
.smk_accordion .accordion_in.four .acc_content {
	background: #fff;
}
