alive-progress==1.6.2
bounded-pool-executor==0.0.3
bs4==0.0.1
dnspython==2.1.0
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
h5py==3.1.0
Keras-Preprocessing==1.1.2
pickleshare==0.7.5
pymongo==3.11.4
python-decouple==3.4
python-dotenv==0.18.0
python-whois==0.7.3
sns==0.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
