<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />

</script>
<body>
<div id="flexbox">

  <div>
  	<i class="fa fa-envelope-o fa-2x"></i>
  </div>

  <div> 
    <div class="search-wrapper">
    <div class="input-holder">
      <form id="form" method="post">
        <input id="searchTxt" name="url" type="text" class="search-input" placeholder="Nhập địa chỉ"/>
        <!-- <button class="search-icon" onclick="alert(searchTxt.value)"></button> -->
        <button id="submit" class="search-icon" onclick="searchToggle(this, event);"><span></span></button>
      </form>
    </div>
        <span class="close" onclick="searchToggle(this, event);"></span>
        <!-- <button class="search-icon" onclick="alert(searchTxt.value)"></button>  -->
    </div>
  </div>

  <div> 
    <span class="tooltip-toggle" aria-label="Sample text for your tooltip!" tabindex="0"></span>
    <span class="scheme label-text" style="color:black; font-size: 150%;">http</span>
    <span class="normal" style="color:black; font-size: 150%;">://</span>
    <span class="domain"  style="color:black; font-size: 150%;">www.example.com</span>
    <span class="normal" style="color:black; font-size: 150%;">:</span>
    <span class="port" style="color:black; font-size: 150%;">80</span>
    <span class="path" style="color:black; font-size: 150%;">/path/file.html</span>
    <span class="param" style="color:black; font-size: 150%;">?key1=value1&key2=value2</span>
    <span class="anchor" style="color:black; font-size: 150%;">#SomeWhere</span>

    
    <!-- <div class="label"> -->
      <!-- <span class="tooltip-toggle" aria-label="Sample text for your tooltip!" tabindex="0">
        <span>test</span>
      </span>
      <span class="label-text">Hover over the "i"!</span>
    </div> -->
  </div>
   
  <div> 
        <div class="square_box box_three"></div>
        <div class="square_box box_four"></div>
          {% for i in data%}

          <div class="col-sm-12">
            <div class="alert fade alert-simple alert-primary alert-dismissible brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
            <!-- <button type="button" class="" data-dismiss="alert"> -->

            <span class="sr-only">Close</span>
            </button>
            <strong style="text-align: center;" class="">{{i}}</strong> 
            </div>

          </div>
          {% endfor %}
         
        
  </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}" ></script>


</body>
</html>
  